/* REF https://kuler.adobe.com/Neutral-Blue-color-theme-22361/ */

svg#genevaDrive {
    background-color: #fcfff5;
}

svg#genevaDrive #gWheel circle {
    fill: #DB1B00;
}


svg#genevaDrive #gDrive #base {
    fill: #EAAF09;
}

svg#genevaDrive #gDrive #stopDisc,
svg#genevaDrive #gDrive #pin {
    fill: #110C0A;
}
