/* REF https://kuler.adobe.com/Neutral-Blue-color-theme-22361/ */

svg#genevaDrive {
    background-color: #fcfff5;
}

svg#genevaDrive #gWheel circle {
    fill: #db1b00;
}


svg#genevaDrive #gDrive #base {
    fill: #eaaf09;
}

svg#genevaDrive #gDrive #stopDisc,
svg#genevaDrive #gDrive #pin {
    fill: #110c0a;
}
